.chatPage{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.chatContainer{
    background-color: azure;
    height:60%;
    width:50%;
}
.header{
    background-color: aquamarine;
    height:15%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5vmax;
}
.header > img{
    height:8vmax;
}
.header > a > button{
    background-color: crimson;
    color: white;
    border-radius: 1vmax;
}


.chatBox{
height:75%;

}
.inputBox{
border:none;
height:10%;
background-color: white;
}
#chatInput{
    height: 100%;
    width:80%;
    border: none;
    outline:none;
    padding:0 2vmax 0 2vmax;
    background-color:beige;
}
#chatInput:hover{
    background-color: rgb(210, 210, 187);
}
.inputBox > button{
    margin: 1vmax;
    height: 2vmax;
    width: 4vmax;
    border: none;
    background-color: crimson;
    color: white;
    border-radius: 0.5vmax;
}
.inputBox > button:hover{
    background-color: rgb(157, 15, 43);
}


@media (max-width:1000px){
    
    .chatContainer{
        height:100%;
        width:100%;
    }
    .inputBox{
        height:8%;
    }
    #chatInput{
        width:70%;
        
    }
    .inputBox button{
        width:6vmax;
        height:4vmax;
        margin-left: 2vmax;
    }
}